[user]
	name = Paulo Cesar da Silva
	email = pcsneoh@gmail.com
[color]
	status = auto
	push = auto
	branch = auto
	diff = auto
	interactive = auto
[core]
	editor = vim
[alias]
	b = branch
	d = diff
	l = log
	p = pull
	s = status
	aa = add .
	bd = branch -D
    cm = commit -m
    dv = difftool -t vimdiff -y
	gl = config --global -l
	ll = log --oneline --graph
	st = status -sb
	count = rev-list --count
	last = log -1 HEAD --stat
[remote "origin"]
	prune = true
[pull]
	rebase = true
[help]
    autocorrect = 1
